.heading{
    font-size: 24px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    background-color: rgb(128, 128, 128) !important;
}
.heading_div{
    float:none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
}
.heading_div2{
    font-size: 18px;
    background-color: rgb(252, 65, 86);
}
.heading_div2:hover{
    font-size: 18px;
    background-color: rgb(252, 65, 86);
}
.heading_div2:focus{
    font-size: 18px;
    background-color: rgb(252, 65, 86);
}
body{
    font-family: 'Sansita Swashed', cursive;
}
.footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color:rgb(128, 128, 128);
    line-height: 3;
    text-align: center;
    font-size: 18px;}
    canvas{
        border:5px solid white;
        border-radius:20px;
        margin-top: 150px;
    box-shadow: 5px 5px 5px grey;
    }